@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Расчет тепловых потерь через цилиндрическую многослойную стенку</h1>
    <p><a href="https://docs.microsoft.com/aspnet/core"></a>.</p>
</div>
<html>
<body>
    <p><img src="https://sun9-65.userapi.com/c855420/v855420338/1c2376/niQ243Y95oA.jpg"></p>
</body>
</html>
