@{
    ViewData["Title"] = "Справка";
}
<h1>@ViewData["Title"]</h1>

<p>Целью расчета является определение температурных полей, критического радиуса теплоизоляции, теплового потока и как следствие тепловых потерь. Задача по определению тепловых потерь через печные ограждения (футеровку) позволяет получить навыки которые используются при анализе тепловой работы печей, составлении тепловых балансов, выборе материалов для изготовления печной футеровки.</p>
<p>Тепловой поток, а также температуры границ (t1,t2) зависят от выбора положения поверхности (вертикальное, горизонтальное при теплоотдаче вниз, горизонтальное при теплоотдачи вверх), от вида поверхности и от вида теплоотдачи (принудительная или естественная).</p>
<html>
<body>
    <p><img src="https://sun9-60.userapi.com/c855024/v855024623/1c97fa/uGCiz1CttFE.jpg"></p>
</body>
</html>